* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 800px) {
	nav, article, import {
		width: 100%;
		height: auto;
	}
}

@media print
{
	.no-print, .no-print *
	{
		display: none !important;
	}
}

#title {
	font-size: x-large;
}

.heading {
	font-size: 25px;
	font-weight: bold;
}

.sub-heading {
	font-size: 20px;
	font-weight: bold;
}

.sub-sub-heading {
	font-size: 18px;
	font-weight: bold;
	margin-left: 40px;
}

#main-page-save {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}

.dirty {
	background-color: orangered;
	color: white;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	font-size: 15px;
	background-color: lightyellow;
	color: black;
	text-align: center;
	border-radius: 6px;
	padding: 10px;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: -50px;
	left: 200%;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

/* LAYOUT */

header {
	height: 50px;
	background-color: darkslategrey;
	padding: 10px;
	text-align: left;
	font-size: 15px;
	color: white;
}

member-list, call-release {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 88vh;
	width: 28%;
	margin: 10px;
	padding: 15px;
	border-radius: 20px;
	background-color: lightgrey;
}

ward-tree {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 88vh;
	width: 35%;
	margin: 10px;
	padding: 15px;
	border-radius: 20px;
	background-color: lightgray;
}

/* SHARED */

.pointer, li, td:hover {
	cursor: pointer;
}

member-list ul, call-release ul {
	list-style-type: none;
	padding: 0;
	margin-top: 0px;
}

input[type=button] {
	font-size: 13px;
	margin-bottom: 5px;
	border-radius: 10px;
}

input[type=radio] {
	margin-right: -2px;
	margin-left: 0px;
}

/* HEADER */

#header-username {
	float: right;
}

/* MEMBER COLUMN */

.filter {
	margin-left: 10px;
	margin-bottom: 2px;
	padding-left: 15px;
	border-radius: 20px;
	outline: none;
}

#clear-filter {
	margin-left: -18px;
	position: absolute;
}

.filtered {
	display: none;
}

#members li {
	margin-bottom: -10px;
}

.male {background-color: #ecffff;}
.female {background-color: #f8d5dd;}
.none {background-color: #fae596;}

li.member-row {
	border-radius: 20px;
	text-indent: 15px;
	margin-right: 15px;
}

.member-container {
	display: flex;
}

.member-name-container {
	width: 70%
}

.thumbnail-container {
	width: 30%;
}

.thumbnail {
	float: right;
	height: 100px;
	margin: 3px;
	border-radius: 15px;
}

.indent-small {
	margin-left: 5px;
}

.name-margins {
	margin-top: 5px;
	margin-bottom: 5px;
}

#member-scroller {
	height: 52vh;
	width: 100%;
	overflow: auto;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 15px;
}

#member-callings-scroller {
	height: 125px;
	width: 100%;
	overflow: auto;
	float: left;
	position: relative;
	margin-left: 5px;
	padding: 10px;
}

/* CALLINGS COLUMN */

.release-sustain-scroller {
	height: 34vh;
	width: 100%;
	overflow: auto;
	float: left;
	position: relative;
	margin-left: 6px;
	padding: 10px;
}

#trash {
	font-size: 25px;
	margin-left: 20px;
}

/* TREE COLUMN */

ul, #ward {
	list-style-type: none;
}

#ward {
	margin: 0;
	padding: 8px;
}

#ward-scroller {
	height: 72vh;
	width: 100%;
	overflow: auto;
	float: left;
	position: relative;
	margin-left: -5px;
}

.calling-container {
	display: flex;
}

.calling-name-container {
	width: 70%
}

li.calling-row {
	border-radius: 20px;
	text-indent: 15px;
	margin-bottom: 5px;
	background-color: #fae596;
	width: auto;
}

li.vacant {
	background-color: #acf2e9;
}

li.proposed {
	background-color: #faa07a;
}

.member-name {
	color: darkred;
	font-weight: bold;
}

.indent {
	margin-left: 30px;
}

.nested {
	display: none;
}

.active {
	display: block;
}

/* REPORT */

#report-select {
	margin-top: 10px;
	margin-left: 20px;
	width: 250px;
}

#report-select-label {
	background-color: wheat;
	padding: 5px;
	margin-top: 10px;
	border-radius: 5px;
}

report-cont {
	float: left;
	margin: 10px;
}

#report {
	border: none;
	flex-direction: column;
}

#report-canvas {
	margin: 20px;
	table-layout: auto;
}

.report-table {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}
.report-table th {
	background-color: aliceblue;
	width: 250px;
}

.small-column {
	width: 100px;
	alignment: center;
}

.print-button {
	position: relative;
	float: right;
}

/* MODEL MANAGEMENT */

model-man, import-data {
	float: left;
	height: 350px;
	width: 450px;
	margin: 10px;
	padding: 15px;
	border-radius: 20px;
	background-color: lightgray;
}

model-man-left {
	float: left;
	width: 60%;
	margin: 10px;
}

model-man-right {
	float: left;
	width: 33%;
	padding: 10px;
}

model-man-footer {
	float: left;
	width: 100%;
	padding: 10px;
}

#model-name {
	width: 255px;
	margin-right: 5px;
	font-size: 16px;
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 20px;
	outline: none;
}

#model-names {
	width: 100%;
}

#model-names tr td {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	border-radius: 15px;
}

#model-name-scroller {
	height: 200px;
	width: 257px;
	overflow: auto;
	float: left;
	position: relative;
	background: #f1f1f1;
	border: 1px solid #222;
	padding: 5px;
	margin-right: 10px;
	border-radius: 20px;
}

td.selected {
	background: lightgray;
}

/* FOCUS MEMBERS */

focus-member {
	display: flex;
	height: 85vh;
	width: 290px;
	margin: 10px;
	padding: 15px;
	border-radius: 20px;
	background-color: lightgrey;
}

#focus-member-scroller {
	overflow: auto;
	position: relative;
	margin-left: 10px;
}

.focus-column {
	text-align: center;
}

#focus-member-scroller td {
	font-size: 16px;
}

/* IMPORT */

.instructions {
	font-size: 15px;
}

#rawdata {
	height: 225px;
	width: 100%;
	padding: 15px;
	border-radius: 20px;
	outline: none;
}

/* LOGIN */

login-panel {
	margin: 15px;
}

#authentication {
	place-content: center;
	text-align: center;
}

#username, #wardid {
	font-size: 13px;
	margin: 5px;
	padding-left: 10px;
	border-radius: 10px;
}

/* LOGIN */

.help-paragraph {
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 15px;
}

.sub-help-paragraph {
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 55px;
}

/* TREE CARETS */

.caret {
	cursor: pointer;
	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none;
}

.caret::before {
	content: "\25B6";
	color: black;
	display: inline-block;
	margin-right: 6px;
}

.caret-down::before {
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari */
' transform: rotate(90 deg);
}

/* TABS */

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 5px 8px;
	transition: 0.3s;
	font-size: 15px;
}

.tab button:hover {
	background-color: #ddd;
}

.tab button.active {
	background-color: #ccc;
}

.tabcontent {
	border: 1px solid #ccc;
}

/* file upload */

.container
{
	width: 100%;
	max-width: 680px; /* 800 */
	text-align: center;
	margin: 0 auto;
}

.container h1
{
	font-size: 42px;
	font-weight: 300;
	color: #0f3c4b;
	margin-bottom: 40px;
}
.container h1 a:hover,
.container h1 a:focus
{
	color: #39bfd3;
}

.container nav
{
	margin-bottom: 40px;
}
.container nav a
{
	border-bottom: 2px solid #c8dadf;
	display: inline-block;
	padding: 4px 8px;
	margin: 0 5px;
}
.container nav a.is-selected
{
	font-weight: 700;
	color: #39bfd3;
	border-bottom-color: currentColor;
}
.container nav a:not( .is-selected ):hover,
.container nav a:not( .is-selected ):focus
{
	border-bottom-color: #0f3c4b;
}

.container footer
{
	color: #92b0b3;
	margin-top: 40px;
}
.container footer p + p
{
	margin-top: 1em;
}
.container footer a:hover,
.container footer a:focus
{
	color: #39bfd3;
}

/* File uploader */

.box.is-dragover
{
	outline-offset: -20px;
	outline-color: #394e54;
	background-color: #bff58e;
	border-radius: 20px;
}

.box .box__uploading
{
	display: none;
}

.is-uploading .box__uploading
{
	display: inline-block;
	height: 30px;
	float: right;
	margin-right: 10px;
	margin-top: 8px;
}

.js .box__file
{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.box__button
{
	font-weight: 700;
	color: #e5edf1;
	background-color: #39bfd3;
	display: none;
	padding: 8px 16px;
	margin: 40px auto 0;
}
