ul, #ward {
	list-style-type: none;
}

#ward {
	margin: 0;
	padding: 0;
}

li.calling-row {
	border-radius: 20px;
	text-indent: 15px;
	margin-bottom: 5px;
	background-color: #fae596;
}

li.vacant {
	background-color: #bdf272;
}

.member {
	color: darkred;
	font-weight: bold;
	margin-left: 30px;
}

.caret {
	cursor: pointer;
	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none;
}

.caret::before {
	content: "\25B6";
	color: black;
	display: inline-block;
	margin-right: 6px;
}

.caret-down::before {
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari */'
	transform: rotate(90deg);
}

.nested {
	display: none;
}

.active {
	display: block;
}
